<div class="mx-3 my-2">
  <p class="fw-bold"><%= @question %></p>
  <p class="fst-italic">-You</p>
</div>

<br>
<div  class="mx-3 my-2">
  <p class="fw-bold"><%= @response %></p>
  <p class="fst-italic">-Your coach</p>
</div>
