<div class="mx-3">
  <p>Ask your coach anything:</p>

  <form class="row g-3" action="answer" data-turbo="false" method="get">
    <div class="col-auto">
      <input class="form-control my-2" type="text" name="question" placeholder="Ask your coach">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
  </form>
</div>
